$black: #000000;
$white: #ffffff;

$primary-color:rgb(23, 50, 70);
$primary-light-color: rgb(63, 86, 102);
$secondary-color: rgb(233, 178, 72);
$blue-color:rgba(0, 100, 177, 0.9);
$gray-color:rgb(154, 165, 173);
$smokeWhite:rgb(243, 245, 246);
$light-gray-color:rgb(249, 249, 249);
$dark-gray-color:rgba(0, 0, 0, 0.7);
